<html>

<head>
  <title>Login</title>
</head>

<body>
  <div id="container">
    <h1>Login</h1>
    <p>Default username is : admin</p>
    <p>Default password is : password</p>


    Username: <input id="username" />
    Password: <input type="password" id="password" />
    <button onclick=sendData()>Login</button>
    <div class="result"></div>
  </div>

  <script>
    function sendData() {
      const u = document.querySelector("#username").value;
      const p = document.querySelector("#password").value;

      fetch("Login", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          username: u,
          password: p
        })
      })
        .then(res => res.json())
        .then(data => {
          const { message, success, token } = data;
          if (success == false) {
            document.querySelector(".result").innerText = `${message}`;
          }
          else {
            sessionStorage.setItem('jwt', token);
            document.getElementById('container').innerHTML = `
              <html>
              <head>
                <title> Express </title>
              </head>
              <body>  
                <h1> Express </h1>
                <p> Welcome to Express </p>
                <p> 
                  <button onclick=GetToken() >Get Token</button>
                </p>
                <p>                 
                <button onclick=Logout() >Log out</button>
              </p>
                <div class="result"></div>

              </body>
             </html>
            `;
          }
        })
        .catch(err => console.log(err));
    }

    function GetToken() {


      fetch("GetToken", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
          "x-access-token": sessionStorage.getItem('jwt')
        },
        body: JSON.stringify({})
      })
        .then(res => res.json())
        .then(data => {
          const { message, success, token } = data;
          if (success == false) {
            document.querySelector(".result").innerText = `${message}`;
          }
          else {
            document.querySelector(".result").innerText = `${token}`;
          }
        })
        .catch(err => console.log(err));
    }

    function Logout() {
      fetch("Logout", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
          "x-access-token": sessionStorage.getItem('jwt')
        },
        body: JSON.stringify({})
      })
        .then(res => res.json())
        .then(data => {
          const { message, success } = data;
          if (success == false) {
            document.querySelector(".result").innerText = `${message}`;
          }
          else {
            sessionStorage.removeItem('jwt');
            document.getElementById('container').innerHTML = `
            <h1>Login</h1>
            <p>Default username is : admin</p>
            <p>Default password is : password</p>

            Username: <input id="username" />
            Password: <input type="password" id="password" />
            <button onclick=sendData()>Login</button>
            <div class="result"></div>
            `;
          }
        })
        .catch(err => console.log(err));
    }

  </script>

</body>

</html>